# 변수의 특징

### 1. 묵시적 선언
### 2. 동적 바인딩
### 3. immutable

In [8]:
# 주석

a = 10
print(a)

a = 3.14
print(a)

a = "가나다"
print(a)

10
3.14
가나다

# 2. Data Type

* 종류
    1. 기본 자료형(단일)
        * int   (정수형)
        * float (실수형)
        * str   (문자열)
        * bool  (참, 거짓)
        * complex  (복소수)
        * function 
        
        
    2. 집합 자료형
        * list
        * tuple
        * dict
        * set
        
        
* 수정 가능성에 따른 분류
    - 수정 불가능 : int, float, str, bool, tuple(집합 자료형 중에서 유일하게 수정 불가능)
    - 수정 가능 : list, dict, set

---
### 1. str(문자열 자료형)

In [1]:
a = 10
type(a)

a = '10'
type(a)

a = """안녕하세요, 
저는 홍길동입니다. 
안녕히계세요"""
print(a)

안녕하세요,
저는 홍길동입니다.
안녕히계세요

In [20]:
# 특수 문자(제어 문자) : \문자 \(escape 문자)
a = "이것은 파이썬 입니다. \n\n\n열심히 공부합시다."
print(a)

b = "현재 시간은 \t\t\t9시 입니다."
print(b)

# \t는 탭키의 역할입니다. 
print("\\t는 탭키의 역할입니다.")

# "\t는 탭키의 역할입니다."
print("\"\\t는 탭키의 역할입니다.\"")

이것은 파이썬 입니다.


열심히 공부합시다.
현재 시간은 			9시 입니다.
\t는 탭키의 역할입니다.
"\t는 탭키의 역할입니다."

In [25]:
# \의 또 다른 기능 : 줄 바꿈
a = "10 + 2 - 3 + 5 \
+ 6 * 7"
print(a)

b = 10 + 2 - 3 + 5 \
+ 6 * 7
print(b)

10 + 2 - 3 + 5 + 6 * 7
56

In [4]:
# 문자열 연결하기
a = "python"
b = "is fun"
c = " and great"

str1 = a, b, c
print(str1)

str2 = a + b + c
print(str2)

('python', 'is fun', ' and great')
pythonis fun and great

In [30]:
# 문자열 곱하기
print(a*3)

pythonpythonpython

In [33]:
# 문자열의 길이
print(len(str1))
print(len(str2))

3
22

In [37]:
# Indexing : [인덱스 번호] 0부터 시작, 공백도 포함
a = "Life is too short, You need python"
a[3]
a[10]
a[-1]
a[-2]

'o'

In [45]:
# slicing : [시작위치 : 끝위치] 원하는 부분만 추출, 
print(a[0:4])
print(a[0:6])
print(a[:6])
print(a[6:])
print(a[:])
print(a[19:-7])
print(a[-3:-1])

Life
Life i
Life i
s too short, You need python
Life is too short, You need python
You need
ho

In [46]:
# 수정 불가
a = "pithon"
a[1] = "y"

TypeError: 'str' object does not support item assignment

In [52]:
# step : [시작위치 : 끝위치 : 스텝(간격)] 시작위치 > 끝위치 (스텝이  음수일때)
a = "Life is too short, You need python"
print(a[::1])
print(a[::2])
print(a[::-1])
print(a[0:6:-1])
print(a[6:0:-1])
print(a[0:6:1])

Life is too short, You need python
Lf stosot o edpto
nohtyp deen uoY ,trohs oot si efiL

si efi
Life i

In [73]:
# 문자열 관련 함수

#count()                                         
str1 = "홍길동, 홍경래, 홍장군, 임경업, 신돌석"
print(len(str1))
print(str1.count("홍"))
print("---------------------------------------")

#join()
str1 = "abcdefg"
str2 = ","
str3 = str2.join(str1)
print(str3)
print("---------------------------------------")

# split()
str1 = "홍길동, 홍경래, 홍장군, 임경업, 신돌석"
print(str1.split(","))
print("---------------------------------------")

# find(), index()
print(str1.find("길"),str1.find("돌"),str1.find("별"))
#print(str1.index("길"),str1.index("돌"),str1.index("별"))
print("---------------------------------------")

#lstrip(),rstrip(),strip() 
str1 = "       python    "
print(str1.lstrip())
print(str1.rstrip())
print(str1.strip())

str2 = ",.python"
print(str2.lstrip(",."))
print("---------------------------------------")

#replace(),   /  maketranse(),translate() - 1:1로 찾아서 바꿔준다
str1 = "Hello, World!"
print(str1.replace("World","Python"))

str2 = "일이삼사오육칠팔구"
print(str2.replace("일삼오","135"))
print(str2.translate(str.maketrans("일삼오","135")))

23
3
---------------------------------------
a,b,c,d,e,f,g
---------------------------------------
['홍길동', ' 홍경래', ' 홍장군', ' 임경업', ' 신돌석']
---------------------------------------
1 21 -1
---------------------------------------
python
       python
python
python
---------------------------------------
Hello, Python!
일이삼사오육칠팔구
1이3사5육칠팔구

In [102]:
# 문자열 포맷팅 : %, format() / 변화되는 데이터를 능동적으로 처리
print("현재 온도는 18도 입니다.")
print("현재 온도는 %d도 입니다."% 18)

print("합의 결과 : 3 + 5 = 8 입니다.")
print("합의 결과 : %d + %d = %d 입니다." %(3, 5, (3+5)))
print("%s의 결과 : %d %c %d = %f 입니다." %("나눗셈", 3, "/", 5, (3/5)))
print("%s의 결과 : %d %c %d = %0.2f 입니다." %("나눗셈", 3, "/", 5, (3/5)))
print("%10s의 결과 : %d %c %d = %0.2f 입니다." %("나눗셈", 3, "/", 5, (3/5)))
print("%-10s의 결과 : %d %c %d = %0.2f 입니다." %("나눗셈", 3, "/", 5, (3/5)))
print("------------------------------------------------")

print("나눗셈의 결과 : 3 / 5 = 0.6 입니다.")
print("나눗셈의 결과 : {} / {} = {} 입니다.".format(3, 5, (3/5)))
print("나눗셈의 결과 : {1} / {0} = {2}입니다.".format(3, 5, (5/3)))
print("{}의 결과 : {} / {} = {}입니다.".format("나눗셈", 3, 5, (3/5)))
print("{title}의 결과 : {} / {} = {}입니다.".format(3, 5, (3/5), title="나눗셈"))
print("{3}의 결과 : {1} / {0} = {2:5.2f}입니다.".format(3, 5, (5/3), "나눗셈"))
print("{3:<10}의 결과 : {1} / {0} = {2:5.2f}입니다.".format(3, 5, (5/3), "나눗셈"))
print("{3:>10}의 결과 : {1} / {0} = {2:5.2f}입니다.".format(3, 5, (5/3), "나눗셈"))
print("{3:^10}의 결과 : {1} / {0} = {2:5.2f}입니다.".format(3, 5, (5/3), "나눗셈"))
print("{3:*^10}의 결과 : {1} / {0} = {2:5.2f}입니다.".format(3, 5, (5/3), "나눗셈"))

현재 온도는 18도 입니다.
현재 온도는 18도 입니다.
합의 결과 : 3 + 5 = 8 입니다.
합의 결과 : 3 + 5 = 8 입니다.
나눗셈의 결과 : 3 / 5 = 0.600000 입니다.
나눗셈의 결과 : 3 / 5 = 0.60 입니다.
       나눗셈의 결과 : 3 / 5 = 0.60 입니다.
나눗셈       의 결과 : 3 / 5 = 0.60 입니다.
------------------------------------------------
나눗셈의 결과 : 3 / 5 = 0.6 입니다.
나눗셈의 결과 : 3 / 5 = 0.6 입니다.
나눗셈의 결과 : 5 / 3 = 1.6666666666666667입니다.
나눗셈의 결과 : 3 / 5 = 0.6입니다.
나눗셈의 결과 : 3 / 5 = 0.6입니다.
나눗셈의 결과 : 5 / 3 =  1.67입니다.
나눗셈       의 결과 : 5 / 3 =  1.67입니다.
       나눗셈의 결과 : 5 / 3 =  1.67입니다.
   나눗셈    의 결과 : 5 / 3 =  1.67입니다.
***나눗셈****의 결과 : 5 / 3 =  1.67입니다.

In [104]:
str1="You need python"
print(len(str1))

15

In [105]:
"{0:!^12}".format('python')

'!!!python!!!'

-----
### 2. list
           
* `[ ]`  사용 (여러개의 데이터를 대괄호로 묶어서 사용)
* 정의 : 임의의 객체(하나의 데이터)를 순차적으로 저장하는 집합적 자료형
* 인덱스 사용
* ***변경이 가능하다.***

In [10]:
# a = 10
# b = 11
# c = 12

a, b, c = 10, 11, 12

list1 = [10, 11, 12]

print(type(a), type(list1))
print(a, list1)
print(list1[0], list1[1], list1[2])

list2 = ["james", 178, 3.14, True] 
list2[1] = 180
print(list2)

<class 'int'> <class 'list'>
10 [10, 11, 12]
10 11 12
['james', 180, 3.14, True]

In [15]:
#### indexing
a = [1, 2, 3, "가", 3.14, ["a", "b", "c"]]
print(a)
print(a[5])
print(a[5][1])
print(a[-1][1])
print(a[5][-1])

[1, 2, 3, '가', 3.14, ['a', 'b', 'c']]
['a', 'b', 'c']
b
b
c

In [17]:
### 복사(얕은 복사, 깊은 복사) 108p

a = [1, 2, 3, 4, 5]
b = a
b[0] = 10
print(a)
print(b)

print("----------------------")

a = [1, 2, 3, 4, 5]
b = a[:]
b[0] = 10
print(a)
print(b)

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
----------------------
[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [36]:
#### list 생성
a = []
a = list()
a = [1, 2, 3]
print(type(a))

print("-----------------------")

#자신만의 공간

a = int()     #공간
a = float()
a = str()  
a = bool()  

a = int("10")
print(a,type(a))  #형식변환에도 사용

b = str(a)
print(b,type(b))

print("-----------------------")

a = list([0, 1, 2, 3])
print(a)

a = list(range(10))
print(a)

a = list(range(5, 12))
print(a)

a = list(range(5, 12, 2))
print(a)

a = list(range(-4, 12, 1))
print(a)

a = list(range(10, 0, -1))
print(a)

<class 'list'>
-----------------------
10 <class 'int'>
10 <class 'str'>
-----------------------
[0, 1, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11]
[5, 7, 9, 11]
[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [42]:
#### 연산기능

a = [1, 2, 3]
b = [4, 5, 6]

print(a + b)
print(a * 3)
print(str(a[1]) + "~ hi")  #형식이 다르기 때문에 오류 / str를 사용하여 문자열로 변환

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
2~ hi

In [50]:
#### 추가 하기 : insert(), append(), extend() / insert는 내가 원하는 위치 / append, extend는 맨 뒤에


a = [1, 2, 3]
print(a)
a.insert(0, 0)
print(a)

a.append(4)
print(a)

#extend는 한 개 이상 []사용
a.extend([5])
print(a)

a.extend([6, 7, 8])
print(a)

a.append([9, 10, 11])
print(a)

[1, 2, 3]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, [9, 10, 11]]

In [59]:
### 정렬
a = [1, 4, 3, 2]
#a.sort()
#print(a)
print(sorted(a)) # 별도 다른 공간에 저장(원본 영향 X)
print(a)

a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4]
[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]

In [72]:
### 제거
a = [1, 2, 3, 1, 2, 3]
a[1:3] = []
print(a)

#값을 찾아서 삭제
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
print(a)

#위치를 찾아서 삭제
del a[4]
print(a)

del a    
#print(a)

#맨 끝에만 삭제
a = [1, 2, 3]
b = a.pop()
print(a, b)
b = a.pop()
print(a, b)

[1, 1, 2, 3]
[1, 2, 1, 2, 3]
[1, 2, 1, 2]
[1, 2] 3
[1] 2

In [75]:
### 검색기능
a = [1, 2, 3, 4, 5]

print(2 in a)
print(20 in a)

True
False

---

### 3. tuple
* ( ) 사용
* **수정할 수 없다.**(변경불가) -> 안전하게 보관 할 때

In [88]:
a = ('a', 'b', 'c', 'd')
print(a)
print(type(a))
print(len(a))
print(a.count('c'))
print(a.index('b'))

('a', 'b', 'c', 'd')
<class 'tuple'>
4
1
1

In [92]:
#a[1] = 10

b = list(a)
b[1] = 10
print(b)
c = tuple(b)
print(type(c))
print(c)

['a', 10, 'c', 'd']
<class 'tuple'>
('a', 10, 'c', 'd')

In [94]:
# packing과 unpacking
a = 10, 20, 30
print(a)            #여러개의 데이터를 튜플로 포장 -> packing (데이터를 안전하게 보관하기 위해서)

a1, a2, a3 = a      #unpacking
print(a1, a2, a3)

(10, 20, 30)
10 20 30

---
### 4. dict (dictionary)  

* 순서가 없다. (인덱스를 쓸 수 없다.) 
* {키 : 값} 
* 키를 이용해서 값을 조회 (데이터를 빠르고 쉽게 찾기 위해)

In [96]:
a = {"name":"홍길동", "phone" : "111-1111", "age":25}
print(a)
print(type(a))

{'name': '홍길동', 'phone': '111-1111', 'age': 25}
<class 'dict'>

In [99]:
print(a["name"],a["phone"],a["age"])
print(a.get("name"),a.get("phone"),a.get("age"))

홍길동 111-1111 25
홍길동 111-1111 25

In [103]:
print(a.keys())    #리스트로 묶어서 튜플로                       
print(a.values())  #리스트로 묶어서 튜플로
print(a.items())   #튜플로 묶어서 리스트로

dict_keys(['name', 'phone', 'age'])
dict_values(['홍길동', '111-1111', 25])
dict_items([('name', '홍길동'), ('phone', '111-1111'), ('age', 25)])

In [109]:
b = a.items()
print(type(b))

c = list(b)
print(type(c))
print(c)
print(c[0])

<class 'dict_items'>
<class 'list'>
[('name', '홍길동'), ('phone', '111-1111'), ('age', 25)]
('name', '홍길동')

In [110]:
#수정
a["name"] = "임꺽정"
print(a)

{'name': '임꺽정', 'phone': '111-1111', 'age': 25}

In [122]:
#추가
a["hobby"] = ["낚시", "여행"]
print(a)

{'hobby': ['낚시', '여행']}

In [120]:
a["hobby"] = ["낚시", "여행"]
print(a)
a.clear()
print(a)
#del a["hobby"]

{'name': '임꺽정', 'phone': '111-1111', 'age': 25, 'hobby': ['낚시', '여행']}
{}

---
### 5. set

* { } 사용
* 순서가 없다.(인덱스를 사용할 수 없다.)
* 중복 불가(자연스럽게 중복된걸 빼준다.)

In [126]:
a = {1, 2, 3, 1}
print(a)
print(len(a))

#print(a[0])
b = list(a)
print(b[0])

{1, 2, 3}
3
1

In [130]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4 ,5, 6, 7, 8, 9}

#합집합
print(s1.union(s2))

#교집합
print(s1.intersection(s2))

#차집합
print(s1.difference(s2))
print(s2.difference(s1))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}
{8, 9, 7}

In [137]:
#### 관련함수

#여러개 추가
s1.update({7,8})
print(s1)

#한개 추가
s1.add(9)
print(s1)

#삭제
s1.remove(9)
print(s1)
s1.discard(8)
print(s1)

#s1.remove(10) -> 오류가 생긴다.
#s1.discard(10)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 9, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7}

In [138]:
a = [1, 2, 3, 4, 4, 2]
b = set(a)
print(b)
b=list(b)
print(b)

{1, 2, 3, 4}
[1, 2, 3, 4]

## 3. Operator(연산자)

    1) 산술 연산자
        *, /, +, -, %(나머지만 가져올 때) //(몫만 가져올 때) **(거듭제곱)
        
    2) 비교 연산자
        >, <, >=,<=, ==, !=(같지 않다) 
        
    3) 논리 연산자(단락 회로)
        and(모두가 참일 때), or, not(단항연산자, 토글연산자)
        
        x  y   xandy    xory     notx       x ^ y(서로 배타적일때만 참) 
        -------------------------------------------
        T  T     T       T         F          F
        T  F     F       T         F          T
        F  T     F       T         T          T
        F  F     F       F         T          F
    
     4) 대입 연산자
         =(오른쪽에 있는 값을 왼쪽에 대입해라)
         +=, -=, *=, /= 
          
 **연산자는 괄호를 잘 묶어서 사용할 것**
 
   ====================================================
   
     5) 포함 여부 연산자
         in, not in
         
     6) 비트(2진수) 연산자 <-진법 변환
         &(and) |(or) ^(xor,배타적인 or연산자) ~ >> <<
         ^(xor,배타적인 or연산자) 서로 배타적일 때만 참, 암호화 복호화에 매력적

In [140]:
#### 대입연산자

a = 1
a = 5
a = 3
print(a)

b = 1
b += 5     # b = b + 5 
b += 3     # b = b + 3   
print(b)

3
9

In [4]:
#### 비트 연산자

print(12<5 and 6>3) #and연산자는 
print(12<5 & 6>3)  
# 보통은 비트연산자의 성능이 좋다


print(12 and 6)  #뒤에 있는 의미 없는 숫자
print(12 & 6)    # 
print()

False
False
6
4

In [12]:
password = 648723
key = 34984532

encode = password ^ key
print("암호화 :", encode)

decode = encode ^ key
print("복호화 :", decode)

암호화 : 35402823
복호화 : 648723

In [2]:
1+"야구

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [7]:
print("friend"+ "5")

friend5