### 파이썬과 MYSQL 활용
- 서로 연결해서 쓰기위해서 중간에 모듈이 필요하다.
1. 파이썬과 MySQL을 연결하는 모듈 : mysqlclient, PyMySQL
    pip install mysqlclient
    pip install PyMySQL

Requirement already satisfied: mysqlclient in c:\users\master\anaconda3\lib\site-packages (2.0.1)
Requirement already satisfied: PyMySQL in c:\users\master\anaconda3\lib\site-packages (0.10.1)

In [26]:
# mysqlclient 모듈을 사용
import MySQLdb

conn = MySQLdb.connect(host="127.0.0.1", user="root", password="1111", database="world")
print(conn)
conn.close()

<_mysql.connection open to '127.0.0.1' at 0000026FA9FEC460>

In [20]:
config={"host":"127.0.0.1","user":"root","password":"1111","database":"world"}

In [21]:
conn=MySQLdb.connect(**config)
print(conn)
conn.close()

<_mysql.connection open to '127.0.0.1' at 0000026FA68140A0>

In [31]:
#SELECT
conn = MySQLdb.connect(**config)

sql ="select * from city limit 10"
#cursor()DB로 실어나르고 전달하고 실행하고 결과값을 가져오는 모든 중간과정을 하는 객체
cursor = conn.cursor()
cursor.execute(sql)

#print(cursor)
#반복문을 돌려서 확인 
#for data in cursor:               #기본적으로 튜플로 묶어서 가져온다.
    #print(data)
    #print("%d %s %s %s %d"%data)  #튜플에 있는것을 자동으로 풀어주는것 : 언패킹
 
for a,b,c,d,e in cursor:
    print(a,b,c,d,e)
conn.close()

1 Kabul AFG Kabol 1780000
2 Qandahar AFG Qandahar 237500
3 Herat AFG Herat 186800
4 Mazar-e-Sharif AFG Balkh 127800
5 Amsterdam NLD Noord-Holland 731200
6 Rotterdam NLD Zuid-Holland 593321
7 Haag NLD Zuid-Holland 440900
8 Utrecht NLD Utrecht 234323
9 Eindhoven NLD Noord-Brabant 201843
10 Tilburg NLD Noord-Brabant 193238

In [39]:
#insert
conn = MySQLdb.connect(**config)
sql = "create table if not exists tbltest(empno int,ename varchar(10),sal int,job varchar(10),mgr int,deptno int, hiredate  datetime)"                              
                                    #파이썬에서도 DB테이블을 만들 수 있다.
                                    #if not exists : 테이블이 존재하지 않을 때에만 새로 만들기 위해
cur=conn.cursor()
cur.execute(sql)

sql = "insert into tbltest(empno, ename, sal) values(1,'scoot',4000)"
cur.execute(sql)        #DML은 commit을 반드시 불러와야 일이 마무리된다.
conn.commit()



conn.close()

In [46]:
# 다른곳으로부터 불러왔을 때
conn = MySQLdb.connect(**config)
cur=conn.cursor()

empno=2
ename='miller'
sal= 1300

sql = "insert into tbltest(empno, ename, sal) values("+str(empno) + ", '"+ename +"', "+ str(sal) +")"
#파이썬에서 결격사유가 없어야 하기 때문에 str로 
#sql 에서는 ''로 묶지 않으면 숫자로 자동 변환된다.
#print(sql)

cur.execute(sql)
conn.commit()

conn.close()

In [47]:
conn = MySQLdb.connect(**config)
cur=conn.cursor()

empno=3
ename='tom'
sal= 2000
sql = "insert into tbltest(empno, ename, sal) values(%s, %s, %s)"
sql_data=(str(empno), str(ename), str(sal))

cur.execute(sql, sql_data)    
conn.commit()
conn.close()

In [48]:
#예외처리등을 꼼꼼하게 작성해야한다.(오류가나면 close가 안될 수 있다.)
#반드시 닫아줄 수 있게 finally 실행 할 수 있도록

conn = MySQLdb.connect(**config)
cur=conn.cursor()
try:
    empno=3
    ename='tom'
    sal= 2000
    sql = "insert into tbltest(empno, ename, sal) values(%s, %s, %s)"
    sql_data=(str(empno), str(ename), str(sal))

    cur.execute(sql, sql_data)    
    conn.commit()
finally :    
    conn.close()

In [51]:
#데이터를 여러개 입력하기
conn = MySQLdb.connect(**config)
cur=conn.cursor()

for i in range(10):
    sql = "insert into tbltest(empno, ename, sal) values('5', 'jane', 1000)"     
    cur.execute(sql)    
    conn.commit()
    
conn.close()

In [58]:
#curser 객체의 fetchall(), fetchmany()원하는 만큼, fetchone()하나만
#데이터를 몇개를 가져올 것인가 
conn = MySQLdb.connect(**config)
cur=conn.cursor()

try:
    cur.execute("select * from tbltest")
    
    #for i in cur.fetchall():          #fetchall은 default값이라 생략가능하다.
        #print(i)
    many = cur.fetchmany(4)            #fetchmany 원하는 만큼만 
    for i in many:
        print(i)
        
    one = cur.fetchone()
    print(one)
    
finally :    
    conn.close()

1 scoot 4000
1 scoot 4000
2 miller 1300
3 tom 2000
(3, 'tom', 2000, None, None, None, None)

In [61]:
#DictCursor dict 형식으로 쓸 수 있는 커서

conn = MySQLdb.connect(**config)
cur=conn.cursor(MySQLdb.cursors.DictCursor)

try:
    cur.execute("select * from tbltest")
    
    for i in cur.fetchall():          
        #print(i[0],i[1],i[2])
        print(i["empno"],i["ename"],i["sal"])
    
finally :    
    conn.close()

1 scoot 4000
1 scoot 4000
2 miller 1300
3 tom 2000
3 tom 2000
5 jane 1000
5 jane 1000
5 jane 1000
5 jane 1000
5 jane 1000
5 jane 1000
5 jane 1000
5 jane 1000
5 jane 1000
5 jane 1000

In [ ]:
#파일 그대로 DB에다가 저장하는 방법
#CSV 파일을 DB에 저장
"""
CREATE TABLE IF NOT EXISTS suppliers(
    Supplier_Name    varchar(20),
    Invoice_Number   varchar(20),
    Part_Number      varchar(20),
    Cost             float,
    Purchase_Date    date
);
"""

In [72]:
#csv 파일 불러오기
#그냥 open 으로 불러오면 ,로 다 분리해야한다.
#csv 모듈을 사용하면 ,로 구분해서 데이터를 분리해온다.
import csv
from datetime import datetime

file = csv.reader(open("C:\p/input.csv"))
#print(file)

header = next(file)           #현재 한줄 읽어오고 다음 줄로 포인트를 옮기는 함수 next 
#print(header)                 #첫번째 줄은 필드명이기때문에 next로 포인트를 한 줄 내린다.

#a = next(file)                 #next를 쓸 때마다 다음줄 다음줄 다음줄.....
#print(a)

conn = MySQLdb.connect(**config)
cur=conn.cursor()

try:
    cur.execute("delete from suppliers")  #기존에 데이터는 지우고
    conn.commit()
    for row in file:    #next로 호출해서 그 다음줄 부터 데이터갯수만큼 
        #print(row)       #반목문 안에서는 next가 자동 적용
        #cur.execute("insert into suppliers values(%s, %s, %s, %s, %s)", row)
        
        data = []
        for col in range(len(header)):              #열의 개수만큼 반복
            if col == 4:
                tmp = datetime.strptime(row[col], '%Y-%m-%d')
                data.append(tmp)
            else:
                data.append(row[col])
        cur.execute("insert into suppliers values(%s, %s, %s, %s, %s)", data)
    conn.commit()
    
finally:
    conn.close()

In [78]:
#DB에 있는 데이터를 csv파일로 저장하는 방법

conn = MySQLdb.connect(**config)
cur=conn.cursor()

try:
    cur.execute("select * from suppliers where cost > 500000")
    
    file = csv.writer(open("C:\p/output.csv", 'w'), delimiter=",") #저장할때는 writer
    #delimiter ="," ,로 구분해서 저장하곘다 csv로 저장하겠다. csv로 저장할때는 기본(생략가능)
    
    header = ["SupplierName", "Invoice Number", "Part Number", "Cost", "Purchase Date"]
    file.writerow(header) #한행씩 저장
    
    for row in cur:
        file.writerow(row)
finally:
    conn.close()

## CRUD
- DB의 가장 기본 기능 
- 만들고 업데이트하고 삭제하고....

##
import MySQLdb

conn = MySQLdb.connect(host="127.0.0.1", user="root", password="1111", database="testdb")
print(conn)
conn.close()    <- 항상 닫아줘서 쓸데없는 퍼포먼스를 줄인다.

-----------------------------------------------------------------------------
config={"host":"127.0.0.1","user":"root","password":"1111","database":"testdb"}
conn=MySQLdb.connect(**config)
print(conn)
conn.close()

- 파이썬에서 DB 연결

##
import pymysql

conn = pymysql.connect(host="127.0.0.1", user="root", password="1111", database="testdb")
print(conn)
conn.close()    <- 항상 닫아줘서 쓸데없는 퍼포먼스를 줄인다.
- 파이썬에서 DB 연결

In [ ]:
# pymysql 모듈을 사용
import pymysql

----
## 파이썬과 SQLite

- 가벼우면서도 안정성을 인정받았고 여러기기와의 호환성도 좋다.(스마트폰에서는 필수로 깔려 있음)

1. 로컬 DB로 사용할 수 있는 DBMS의 종류
    - ACCESS
    - SQLite
    - Microsoft SQL Sever Compact Edition
    - Firebird Embedded Server
    - H2
    - HSQL
    - Apache Derby
    ......

2. SQLite의 특징
    - 파일 기반의 DBMS, 저메모리, 빠른 처리속도(파일을 아무것에나 저장해서 다른곳에서 불러올 수 있다.)
    - 오픈 소스(무료)이고 코드까지 공개되어 수정해서 쓸 수 있다.
    - 별도의 DB서버가 없ㄷ어도 쉽고 편리하게 사용할 수 있는 Embeded SQl DB엔진
    - 안드로이드, 아이폰 등의 스마트폰에 기본 내장된 DB
    - 파이썬에도 내장 (파이썬으로 쓸때에는 별도로 다운로드 받을 필요없다.
    - 표준 SQL 지원
    ------------------------------------
    - 컬럼을 삭제하거나 변경하는 것 등이 제한
    - Left Outer Join만 지원(Right, Full 은 지원하지 않는다.)
    - View를 읽기전용(조회용)만 제공
    
    
3. 공식 사이트
    http://sqlite.org
    
    
4. 클라이언트 툴
    http://www.sqliteexpert.com
    f5 전체실행
    쉬프트f5 한줄씩실행
    컨트롤f5 선택블럭 실행
    DDL탭은 어떻게 작성되었는지 보여주는 탭
    date('now') 현재 날짜

In [1]:
import sqlite3

In [15]:
print(sqlite3.version)                #모듈의 버전
print(sqlite3.sqlite_version)        #sqlite의 DB 버전

2.6.0
3.32.3

In [24]:
#DB 불러오기
conn = sqlite3.connect("sqlitetest.db")
print(conn)

cur = conn.cursor()
print(cur)

cur.close()
conn.close()

<sqlite3.Connection object at 0x000001CD2FEB3030>
<sqlite3.Cursor object at 0x000001CD2FEAB9D0>

In [25]:
#select(조회)
conn = sqlite3.connect("sqlitetest.db")
cur = conn.cursor()
cur.execute("select * from tblbook")
for row in cur.fetchall():
    print(row)
    
cur.close()
conn.close()

('최주현', '하늘과 땅')
('최주현', '바다')
('유은정', '바다')
('박성우', '문')
('최주현', '문')
('박성우', '천국')
('최지은', '천국')
('최주현', '천국')
('박성우', '고슴도치')
('서금동', '나')

In [26]:
"""
mysqllite.db에 테이블 생성
create table tblMember(
id int,
name varchar(10),
regdate datetime
);

insert into tblMember(id, name, regdate) values(1, '홍길동', '2020-12-25');
insert into tblMember(id, name, regdate) values(2, '임꺽정', date('now'));

"""

conn = sqlite3.connect("mysqlite.db")
cur = conn.cursor()
cur.execute("select * from tblMember")
for row in cur.fetchall():
    print(row)
    
cur.close()
conn.close()

(1, '홍길동', '2020-12-25')
(2, '임꺽정', '2020-11-20')

In [34]:
#파이썬에서 db생성하기
#불러오고자 하는 Db가 없으면 자동으로 생성된다.
conn = sqlite3.connect("auto.db")
print(conn)
cur = conn.cursor()

cur.execute("create table if not exists tblmember(id  int, name  varchar(10))")
conn.commit()

cur.execute("insert into tblmember values(1,'홍길동')")
conn.commit()

cur.execute("select*from tblmember")
for row in cur.fetchall():
    print(row)
    
cur.close()
conn.close()

<sqlite3.Connection object at 0x000001CD2FEB3210>
(1, '홍길동')
(1, '홍길동')

In [17]:
# CSV파일을 읽어서 DB에 저장하기 (SQLite)
import csv 
conn = sqlite3.connect("sqlitetest.db")
cur = conn.cursor()

tables = cur.execute("select * from sqlite_master where type='table'") #sqlite_master : 시스템 테이블 (환경설정등의 정보를 담고 있는)
for i in tables:
    print(i)

file = csv.reader(open("C:/p/input.csv","r"),delimiter=",")   #delimiter는 기본적으로 ,로불러오기 떄문에 ,로 분리할때는 생략 가능
print(file)

header = next(file)
print(header)

for row in file:
    print(row)
    cur.execute("insert into suppliers values(?, ?, ?, ?, ?)",row)
    
conn.commit()
cur.close()
conn.close()

('table', 'suppliers', 'suppliers', 2, 'CREATE TABLE suppliers(\r\n    Supplier_Name     varchar(20),\r\n    Invoice_Number    varchar(20),\r\n    Part_Number       varchar(20),\r\n    Cost              float,\r\n    Purchase_Date     date\r\n)')
('table', 'tblBook', 'tblBook', 3, 'CREATE TABLE tblBook(\r\nauthor\tvarchar(20),\r\ntitle\tvarchar(20)\r\n)')
<_csv.reader object at 0x000002DCA0919100>
['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']
['A', '001-1001', '2341', '500000', '2014-01-20']
['A', '001-1002', '2341', '500000', '2014-01-20']
['A', '001-1003', '5467', '750000', '2014-01-20']
['A', '001-1004', '5467', '750000', '2014-01-20']
['B', '001-1005', '7009', '250000', '2018-01-30']
['B', '001-1006', '7009', '250000', '2018-01-30']
['B', '001-1007', '6650', '125000', '2017-02-03']
['B', '001-1008', '6650', '125000', '2017-02-03']
['C', '001-1009', '3321', '615000', '2017-02-03']
['C', '001-1010', '3321', '615000', '2017-02-10']
['C', '001-1011', '3321', '615000', '2017-02-17']
['C', '001-1012', '3321', '615000', '2017-02-24']

In [18]:
#select로 확인
conn = sqlite3.connect("sqlitetest.db")
cur = conn.cursor()

cur.execute("select * from suppliers")

for row in cur.fetchmany(5):
    print(row)

cur.close()
conn.close()

('A', '001-1001', '2341', 500000.0, '2014-01-20')
('A', '001-1002', '2341', 500000.0, '2014-01-20')
('A', '001-1003', '5467', 750000.0, '2014-01-20')
('A', '001-1004', '5467', 750000.0, '2014-01-20')
('B', '001-1005', '7009', 250000.0, '2018-01-30')

In [34]:
#메모리DB
#데이터를 메모리에서 처리
conn = sqlite3.connect(":memory:")   #메모리자체에 DB를 만드는 (메모리안에는 하나의 DB만 만들어진다, 파일로 만들어지는 것이 아니다.)
#print(conn)
cur = conn.cursor()
cur.execute("create table phonebook(name text, phone text);")
cur.execute("insert into phonebook values(?, ?);", ("tom", '010-111-1111'))         #commit를 안함 / 파일로 저장하는 것이 아니기때문에 트랜잭션을 안함

# 입력 데이터 인자를 변수명으로 처리
sql = "insert into phonebook values(:vName, :vPhone)"                # : 변수를 표시하기위해 찍는다    
cur.execute(sql, {"vPhone":"010-222-2222", "vName":"Johnson"})       # 값을 넣을때는 : 를 찍지 않는다.

#원래는 insert는 동시에 불가(그래서 반복문을 돌려서 사용)
#여러 개의 데이터를 한번에 입력 
datalist=(('jane','010-333-333'),('jerry','010-444-4444'),('marry','010-555-5555'))  #튜플로 묶어줌
cur.executemany("insert into phonebook values(?, ?);", datalist)  #datalist 개수에 맞춰 반복을 돌려줌



cur.execute("select * from phonebook")
for row in cur:
    print(row)
    
#메모리에 그대로 두고 닫으면 사라진다. 따라서 파일로 따로 저장해야한다.
#작업한 내용을 script로 저장
f = open("dump.sql","w") #확장자는 sql(표준Sql로 작성된 것은 .sql로 저장)
for line in conn.iterdump(): #iterdump연결하고나서 했던 활동들을 한줄씩 불러오는 함수
    f.write("{}\n".format(line))

f.close()
conn.close()

('tom', '010-111-1111')
('Johnson', '010-222-2222')
('jane', '010-333-333')
('jerry', '010-444-4444')
('marry', '010-555-5555')

In [36]:
# 스크립트 불러오기
conn = sqlite3.connect("sqlitetest.db")
cur = conn.cursor()

file = open("dump.sql","r")
script=file.read()
#print(script)

cur.executescript(script)#전체 명령어를 한번에 실행
conn.close()

---
### MongoDB 와 연동

- pip install pymongo

In [1]:
#import pymongo
from pymongo import MongoClient

### 1. 서버와 연결

In [8]:
#conn = pymongo.MongoClient("127.0.0.1", 27017)  #(IP주소, 포트번호)
#conn = MongoClient("127.0.0.1", 27017)
conn = MongoClient("mongodb://127.0.0.1:27017")
print(conn)
conn.close()

MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True)

### 2. DB 연결

In [12]:
conn = MongoClient("mongodb://127.0.0.1:27017")
#dbname = conn.test
#dbname = conn.test2
#dbname = conn["test"]
dbname = conn.get_database("test")
print(dbname)
conn.close()

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

### 3. Collection 과 연결

In [7]:
conn = MongoClient("mongodb://127.0.0.1:27017")
dbname = conn.get_database("test")

#collect = dbname.articles   #dbname.컬렉션명(존재하면)
#collect = dbname["articles"]
collect = dbname.get_collection("articles")
print(collect)
conn.close()

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'articles')

### 4. 데이터 입력(1개)

In [19]:
conn = MongoClient("mongodb://127.0.0.1:27017")
dbname = conn.get_database("test")
collect = dbname.get_collection("people")





#data={"author":"Mike", "text":"my first blog post!", "tag":["mongdb","python"]}
#collect.insert_one(data) #데이터가 하나가 입력

# 입력하면서 ID가져오기
data={"author":"Tom", "text":"my first blog post!", "tag":["mongdb","python"]}
post_id=collect.insert_one(data).inserted_id
print(post_id)

print(collect.count_documents({})) #데이터가 몇개 들어가있는지 확인

for i in collect.find():
    print(i)

conn.close()

5fbf061a25142f259efbd2bd
8
{'_id': ObjectId('5fbded3f58939d7f7b559006'), 'name': 'Abet', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('5fbded3f58939d7f7b559007'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('5fbded3f58939d7f7b559008'), 'name': 'Charlie', 'age': 23.0, 'skills': ['mongodb', 'nodejs']}
{'_id': ObjectId('5fbded3f58939d7f7b559009'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('5fbdf4c915b84709681b9858'), 'name': 'Elly', 'age': 17.0, 'score': 10.0}
{'_id': ObjectId('5fbf005825142f259efbd2b9'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongdb', 'python']}
{'_id': ObjectId('5fbf025b25142f259efbd2bb'), 'author': 'Tom', 'text': 'my first blog post!', 'tag': ['mongdb', 'python']}
{'_id': ObjectId('5fbf061a25142f259efbd2bd'), 'author': 'Tom', 'Text': 'my first blog post!', 'tag': ['mongdb', 'python']}

### 5. 데이터 입력하기 (여러 개)

In [21]:
conn = MongoClient("mongodb://127.0.0.1:27017")
dbname = conn.get_database("test")
collect = dbname.get_collection("people")

print(collect.count_documents({}))

collect.insert_many([{"number":i} for i in range(10)]) #list 컴플레이션
print(collect.count_documents({}))
conn.close()

8
18

In [23]:
datas = []
for i in range(10):
    data={"number":i}
    datas.append(data)
print(datas)

[{'number': 0}, {'number': 1}, {'number': 2}, {'number': 3}, {'number': 4}, {'number': 5}, {'number': 6}, {'number': 7}, {'number': 8}, {'number': 9}]

In [25]:
conn = MongoClient("mongodb://127.0.0.1:27017")
dbname = conn.get_database("test")
collect = dbname.get_collection("people")

data = list()
data.append({"name":"aron", "age":20})
data.append({"name":"tom", "age":21})
data.append({"name":"jane", "age":22})
data.append({"name":"jerry", "age":23})

collect.insert_many(data)

    
conn.close()

{'_id': ObjectId('5fbded3f58939d7f7b559006'), 'name': 'Abet', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('5fbded3f58939d7f7b559007'), 'name': 'Betty', 'age': 20.0, 'score': 10.0}
{'_id': ObjectId('5fbded3f58939d7f7b559008'), 'name': 'Charlie', 'age': 23.0, 'skills': ['mongodb', 'nodejs']}
{'_id': ObjectId('5fbded3f58939d7f7b559009'), 'name': 'David', 'age': 23.0, 'score': 20.0}
{'_id': ObjectId('5fbdf4c915b84709681b9858'), 'name': 'Elly', 'age': 17.0, 'score': 10.0}
{'_id': ObjectId('5fbf005825142f259efbd2b9'), 'author': 'Mike', 'text': 'my first blog post!', 'tag': ['mongdb', 'python']}
{'_id': ObjectId('5fbf025b25142f259efbd2bb'), 'author': 'Tom', 'text': 'my first blog post!', 'tag': ['mongdb', 'python']}
{'_id': ObjectId('5fbf061a25142f259efbd2bd'), 'author': 'Tom', 'Text': 'my first blog post!', 'tag': ['mongdb', 'python']}
{'_id': ObjectId('5fbf06fb25142f259efbd2c0'), 'number': 0}
{'_id': ObjectId('5fbf06fb25142f259efbd2c1'), 'number': 1}
{'_id': ObjectId('5fbf06fb25142f259efbd2c2'), 'number': 2}
{'_id': ObjectId('5fbf06fb25142f259efbd2c3'), 'number': 3}
{'_id': ObjectId('5fbf06fb25142f259efbd2c4'), 'number': 4}
{'_id': ObjectId('5fbf06fb25142f259efbd2c5'), 'number': 5}
{'_id': ObjectId('5fbf06fb25142f259efbd2c6'), 'number': 6}
{'_id': ObjectId('5fbf06fb25142f259efbd2c7'), 'number': 7}
{'_id': ObjectId('5fbf06fb25142f259efbd2c8'), 'number': 8}
{'_id': ObjectId('5fbf06fb25142f259efbd2c9'), 'number': 9}
{'_id': ObjectId('5fbf086c25142f259efbd2cb'), 'name': 'aron', 'age': 20}
{'_id': ObjectId('5fbf086c25142f259efbd2cc'), 'name': 'tom', 'age': 21}
{'_id': ObjectId('5fbf086c25142f259efbd2cd'), 'name': 'jane', 'age': 22}
{'_id': ObjectId('5fbf086c25142f259efbd2ce'), 'name': 'jerry', 'age': 23}
{'_id': ObjectId('5fbf087a25142f259efbd2d0'), 'name': 'aron', 'age': 20}
{'_id': ObjectId('5fbf087a25142f259efbd2d1'), 'name': 'tom', 'age': 21}
{'_id': ObjectId('5fbf087a25142f259efbd2d2'), 'name': 'jane', 'age': 22}
{'_id': ObjectId('5fbf087a25142f259efbd2d3'), 'name': 'jerry', 'age': 23}

### 6. 데이터 조회하기

In [40]:
conn = MongoClient("mongodb://127.0.0.1:27017")
dbname = conn.get_database("test")
collect = dbname.get_collection("people")

#전체 조회
#for i in collect.find():
    #print(i)
    
#원하는 것만 조회 (find는 모듈에있는 함수라는 것이다. 주의!)
#for i in collect.find({"age" : 20}):
    #print(i)
    
#나이가 23세이상인 document 조회    
#for i in collect.find({"age" : {"$gte" : 23}}):
   # print(i)
    
#데이터를 딱 하나만 가져올 때 (여러명일때 첫번째 데이터만 가져온다/ 조건 추가 가능)
#print(collect.find_one())
print(collect.find_one({"age":23}))

conn.close()

{'_id': ObjectId('5fbded3f58939d7f7b559008'), 'name': 'Charlie', 'age': 23.0, 'skills': ['mongodb', 'nodejs']}

### 7. 데이터 수정

In [44]:
conn = MongoClient("mongodb://127.0.0.1:27017")
dbname = conn.get_database("test")
collect = dbname.get_collection("people")

collect.update_one({"author":"Tom"},{"$set":{"text":"my second blog post!"}})
print(collect.find_one({"author":"Tom"}))

collect.

conn.close()

{'_id': ObjectId('5fbf025b25142f259efbd2bb'), 'author': 'Tom', 'text': 'my second blog post!', 'tag': ['mongdb', 'python']}